@media screen and (max-width: 480px) {
  #headerImg {
    width: 200px;
    height: 200px; 
  }
}
#headerImg{
  width: 400px;
  height: 400px;
}
.news-Item {
  transition: box-shadow 0.3s, z-index 0.3s;
}
.news-Item :hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.Header{
  display: flex;
  align-items: center;
}
.searchBar {
  position: relative;
  display: inline-block;
}
.searchBar input[type="search"] {
  padding-right: 30px; /* Adjust this value based on the icon's width */
  padding: 15px 300px 15px 10px;
  border-radius: 30px;
  border-color: rgb(105, 105, 105);
  margin-top: 48px;
}
.searchBar .searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #6c6c6c;
  margin-top: 24px;
}
